set -a

export project_id='autograb-dev'
export region='australia-southeast1'
export zone='australia-southeast1-a'
export db_name='mlflow-db'
export db_version='POSTGRES_14'
export db_tier=db-g1-small
export db_instance=ml-db
export mlflow_docker_image=gcr.io/autograb-dev/mlflow:latest
export brand_name=autograb
export domain=mlflow-nonprod.autograb.com.au # don't add the https:// or http:// to domain
export support_email=support@autograb.com.au
webapp_users='user:ghawady@autograb.com.au,serviceAccount:vertexai@autograb-dev.iam.gserviceaccount.com'
export oauth_client_id=1026007293393-9g71fhdufqts798r7olpa1lnm2eqfj47.apps.googleusercontent.com
export oauth_client_secret=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
mlflow_experiment_name=gpboost_model_experiment
export network_name="default"
export network_self_link="projects/autograb-dev/global/networks/default"
export vpc_connector_name="aus-southeast-dev-tunnel"